<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head>
<link rel="shortcut icon" href="" type="image/x-icon" />
<link rel="icon" href="" type="image/x-icon" />
<link rel='stylesheet' type='text/css' href='<?php echo $styleSheet ?>'>
<title>Account Selection</title>
</head><body>

&nbsp; &nbsp; <span class='button'><?php echo $backTag ?></span>
<p>

<?php echo $formTag ?>
<?php echo $acctList; ?>
<?php echo $appList; ?>
<br><?php echo $submitTag; ?>
</form>

</body></html>
